.input__box {
  width: 100%;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.input__box input {
  background-color: transparent;
  border: 0;
  width: 100%;
  outline: none;
  padding-inline: 0.5rem;
  color: #5b0f14; 
}

.input__box input::placeholder {
  color:#8f8d8d;
  font-weight: 500;
  text-transform: capitalize;
}
